<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><%= @shot.title %></div>
    <div class="panel-body">
      <%= image_tag @shot.user_shot_url unless @shot.user_shot.blank? %>
      <br>
      <p><%= @shot.description %></p>
    </div>
    <div class="panel-footer">
        <%= verbose_date(@shot.created_at) %>
        <% if @shot.user %>
        by <%= gravatar_image_tag(@shot.user.email.gsub('spam', 'mdeering'), alt: @shot.user.name, gravatar: {size: 20}) %>
        <%= @shot.user.name %>
        <% end %>
    </div>
  </div>

  <div class="pull-right">
  <% if user_signed_in? && (current_user.id == @shot.user_id) %>
  <%= link_to 'Edit', edit_shot_path(@shot), class: 'btn btn-success' %>
  <%= link_to 'Delete', shot_path, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this shot?' } %>
  <% end %>
  </div>
  <%= link_to 'Back', shots_path, class: 'btn btn-default' %>
  </div>

<br>

<div class="row comments">
  <div class="col-sm_12">
    <h4><%= pluralize(@shot.comments.count, 'Comment') %></h4>
    <%= render @shot.comments %>
    <hr>
    <% if user_signed_in? %>
      <div class="comment-form">
        <h3>Leave a reply</h3>
        <%= render 'comments/form' %>
      </div>
    <% else %>
      <div class="content">
        <p><%= link_to 'Sign in', new_user_session_path %> to leave a comment.</p>
      </div>
    <% end %>
  </div>
</div><!-- .row -->

<% content_for(:stat) do %>

<div class="col-lg-3">
  <div class="well sidebar-nav">
    <!-- <h3>Sidebar</h3> -->
    <ul class="nav nav-list">
      <!-- <li class="nav-header"></li> -->
      <li>
        <span class="icon"><i class="fa fa-eye"></i></span>
        <%# Error in impressionist %>
        <%#= pluralize(@shot.impressionist_count, 'View') %>
      </li>
      <li>
        <span class="icon"><i class="fa fa-comment"></i></span>
        <%= pluralize(@shot.comments.count, 'Comment') %>
      </li>
      <li>
      <% if user_signed_in? %>
        <% if current_user.liked? @shot %>
            <%= link_to unlike_shot_path(@shot), method: :put, class: 'unlike_shot' do %>
              <span class="icon"><i class="fa fa-heart"></i></span>
              <span><%= pluralize(@shot.get_likes.size, 'Like') %></span>
            <% end %>
          <% else %>
            <%= link_to like_shot_path(@shot), method: :put, class: 'like_shot' do %>
              <span class="icon"><i class="fa fa-heart"></i></span>
              <span><%= pluralize(@shot.get_likes.size, 'Like') %></span>
            <% end %>
          <% end %>
          <% else %>
            <%= link_to like_shot_path(@shot), method: :put, class: 'like_shot' do %>
              <span class="icon"><i class="fa fa-heart"></i></span>
              <span><%= pluralize(@shot.get_likes.size, 'Like') %></span>
            <% end %>
        <% end %>
      </li>
    </ul>
  </div><!--/.well -->
</div><!--/col-lg-3 -->

<% end %>
